
.landing-page {
    background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fw0.peakpx.com%2Fwallpaper%2F178%2F827%2FHD-wallpaper-abstract-black-light-s7-super.jpg&tbnid=S5slywjsdsIRfM&vet=12ahUKEwib-4-F_5aBAxXNmycCHXq5C_AQMygCegQIARBj..i&imgrefurl=https%3A%2F%2Fwww.peakpx.com%2Fen%2Fhd-wallpaper-desktop-awlgh&docid=a35b3vi8nptXhM&w=800&h=1422&q=dark%20abstract%20background&ved=2ahUKEwib-4-F_5aBAxXNmycCHXq5C_AQMygCegQIARBj');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  